.home_items_main {
    background: #121618;
    height: 100%;
    padding-bottom: 8.6rem;
}

.home_items_heading {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .4rem;
    padding: 3rem;
    font-size: 20px;
    font-weight: 700;
    color: aliceblue;
}

.home_items_image {
    /* height: 200px; */
    width: 200px;

}
.home_items_image .box {
    cursor: pointer;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    position: absolute;
    border-radius: 50%;
    opacity: 1;
    transition: background-color 0.3s ease, opacity 0.3s ease;
    overflow: hidden; /* Optional, prevents overflow during movement */
}

.home_items_image .box i {
    height: 66px;
    width: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: rgba(0, 0, 0, 0.996);
    opacity: 0;
    transform: translateY(20px); /* Start 20px lower */
    transition: opacity 0.3s ease, transform 0.3s ease;
    
}

.home_items_image .box:hover {
    background-color: rgba(216, 121, 58, 0.871);
    opacity: 0.8;
}

.home_items_image .box:hover i {
    opacity: 1;
    transform: translateY(0); /* Move up into place */
}

.home_items_col:hover .home_items_name {
    color: yellow;
    transition: color 0.3s ease;
}

.home_items_image img {
    height: 100%;
    width: 100%;
}

.home_items_name {
    text-transform: uppercase;
    /* text-align: center; */
    color: #fff;
    letter-spacing: .3rem;
}

.home_items_details {
    color: #ffffffac;
    text-align: center;

}

.home_items_price {
    color: #fff;
    font-weight: 700;
    letter-spacing: 4px;
    margin-bottom: .3rem;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s ease;

}

.home_items_col:hover .home_items_price {
    border-bottom-color: lightgreen;

}

.home_items_col {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    /* text-align: center; */
    align-items: center;
    justify-content: center;
}

.home_items_row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 1.5rem;
}